<?xml version='1.0' encoding='GB2312'?>
<ROOT INSTNAME="BH测试伞雷达相机_2" NODENAME="BH测试伞雷达相机_2_1" INST_SERV_ENTRY="192.168.0.22:3001">
 	<CLASS_DECLARE>		
		<CLASS NAME="class1" DES="位置信息">				
			<PROPERTY NAME="X" TYPE="xmDT_FLOAT" INIT="10.0" DES="X轴坐标"/>
			<PROPERTY NAME="Y" TYPE="xmDT_FLOAT" INIT="20.0" DES="Y轴坐标"/>
			<PROPERTY NAME="Z" TYPE="xmDT_FLOAT" INIT="30.0" DES="Z轴坐标"/>
		</CLASS>				          
    <CLASS NAME="class2" DES="位置信息2">
      <PROPERTY NAME="X">
        <PROPERTY NAME="XX1" TYPE="xmDT_FLOAT" INIT="20.0" DES="Y轴坐标"/>
      </PROPERTY>
			<PROPERTY NAME="Z" TYPE="xmDT_FLOAT" INIT="30.0" DES="Z轴坐标"/>
		</CLASS>
	</CLASS_DECLARE>

  <!--下发赋值，数据集、节点名称-->
 <DATA_DECLARE>
  <INPUT_DATA>
   <DATA GSA_NAME="BH测试伞雷达相机_2_载荷舱速度" LOCAL_NAME="载荷舱速度">
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="X"/>
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="Y"/>
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="Z"/>
   </DATA>
   <DATA GSA_NAME="BH测试伞雷达相机_2_载荷舱位置" LOCAL_NAME="载荷舱位置">
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="X"/>
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="Y"/>
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="Z"/>
   </DATA>
   <DATA GSA_NAME="BH测试伞雷达相机_2_雷达指令" TYPE="xmDT_UINT16" INIT="3" Limit="{'雷达开机':1,'切换模式':2:,'雷达关机':3}" LOCAL_NAME="雷达控制指令"/>
   <DATA GSA_NAME="BH测试伞雷达相机_2_雷达指令参数" TYPE="xmDT_BUFFER" LOCAL_NAME="雷达控制指令参数"/>
  </INPUT_DATA>
  <INNER_DATA>
   <DATA GSA_NAME="信号参数" LOCAL_NAME="信号参数">
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="5000000000" DESC="GHz" NAME="载频"/>
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="0.0001" DESC="ms" NAME="信号时宽"/>
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="50000000" NAME="信号带宽"/>
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="1" NAME="噪声功率"/>
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="15" NAME="信噪比"/>
   </DATA>
   <DATA GSA_NAME="波束参数" LOCAL_NAME="波束参数">
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="10" DESC="度" NAME="波束3dB宽度"/>
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="10" DESC="度" NAME="波束偏离中心角度"/>
   </DATA>
   <DATA GSA_NAME="工作参数" LOCAL_NAME="工作参数">
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="1600" DESC="度" NAME="脉冲重复频率"/>
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="16" DESC="度" NAME="CPI中脉冲数"/>
    <PROPERTY TYPE="xmDT_DOUBLE" INIT="9.9999999999999995e-07" DESC="度" NAME="虚警率"/>
    <PROPERTY NAME="伺服机构指向">
     <PROPERTY TYPE="xmDT_DOUBLE" INIT="0" NAME="X"/>
     <PROPERTY TYPE="xmDT_DOUBLE" INIT="0" NAME="Y"/>
     <PROPERTY TYPE="xmDT_DOUBLE" INIT="0" NAME="Z"/>
    </PROPERTY>
   </DATA>
  </INNER_DATA>
  <OUTPUT_DATA>
   <DATA GSA_NAME="33333333333333" LOCAL_NAME="当前时刻载荷舱天线指向">
     <PROPERTY NAME="X">
       <PROPERTY NAME="XX1">
         <PROPERTY NAME="XXX1" TYPE="xmDT_INT32" INIT="99"></PROPERTY>
         <PROPERTY NAME="XXX2" TYPE="xmDT_UINT16" INIT="33"></PROPERTY>
       </PROPERTY>
       <PROPERTY NAME="XY1" TYPE="xmDT_FLOAT" INIT="3.141593"></PROPERTY>
     </PROPERTY>
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="Y" INIT="0.0023234"/>
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="Z" INIT="2342.232234"/>
   </DATA>

   <DATA GSA_NAME="44444444444444" TYPE="class2" LOCAL_NAME="雷达状态"/> 
   <DATA GSA_NAME="555555555555555" TYPE="class1" LOCAL_NAME="探测范围"/>
    
   <DATA GSA_NAME="6666666666666">
    <PROPERTY TYPE="class1" NAME="6class1"/>
    <PROPERTY TYPE="xmDT_DOUBLE" NAME="6double2"/>
    <PROPERTY TYPE="xmDT_BUFFER100" NAME="6buffer100"/>
   </DATA>  

   <DATA GSA_NAME="INT8" INIT="33" TYPE="xmDT_INT8"/>
   <DATA GSA_NAME="UINT8" INIT="218" TYPE="xmDT_UINT8"/>
   <DATA GSA_NAME="INT16" TYPE="xmDT_INT16" INIT="1000"/>
   <DATA GSA_NAME="UINT16" TYPE="xmDT_UINT16" INIT="20000"/>
   <DATA GSA_NAME="INT32" TYPE="xmDT_INT32" INIT="199832"/>
   <DATA GSA_NAME="UINT32" TYPE="xmDT_UINT32" INIT="-9233"/>
   <DATA GSA_NAME="INT64" TYPE="xmDT_INT64" INIT="993"/>
   <DATA GSA_NAME="UINT64" TYPE="xmDT_UINT64" INIT="32342"/>
   <DATA GSA_NAME="FLOAT" TYPE="xmDT_FLOAT" INIT="-3023.3"/>
   <DATA GSA_NAME="DOUBLE" TYPE="xmDT_DOUBLE" INIT="9.9999999999999995e-07"/>
   <DATA GSA_NAME="BUFFER1" TYPE="xmDT_BUFFER100"/>
   <DATA GSA_NAME="BUFFER2" TYPE="xmDT_BUFFER"/>
  </OUTPUT_DATA>
 </DATA_DECLARE>
</ROOT>
